@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}
<h1>@ViewData["Title"]</h1>
<div class="row p-2">
    <form id="account" method="post">
        <label asp-for="Input.UserName"></label>
        <input asp-for="Input.UserName" class="form-control" />
        <label asp-for="Input.Password"></label>
        <input asp-for="Input.Password" class="form-control" />
        <button type="submit" class="btn btn-primary m-2">Register</button>
    </form>
</div>

